.tooltipevent{
    width:200px;
    background:#d7f0f7;
    position:absolute;
    z-index:10001;
    transform:translate3d(2px, 25px, 10px);
    font-size: 0.8rem;
    box-shadow: 1px 1px 3px 0px #888888;
    line-height: 1rem;
}
.tooltipevent div{
    padding:5px;
}
.tooltipevent div:last-child{
    position:relative;
}

.tooltipevent div:last-child::before{
    border-top-color:#888888;
    bottom:-5px;
}