.control-group {
    padding: 10px;
    clear: both;
}

.span1.hasTip {
    float: left;
    width: 144px;
}

.wp-admin select {
    padding: 2px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
}

.controls #location_id, .controls #title {
    width: 41%;
}

.weekdays_label > label {
    border: 1px solid;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin: 5px;
    text-align: center;
    width: 40px;
}
